a.botao1 {
    background: darkgreen;
    Color: white;
    padding: 10px;
    text-decoration: none;
    border: 4px solid greenyellow;
    border-radius: 5px
}

a.botao1:hover {
    background: rgb(2, 255, 2);
    padding: 12px;
    border: 4px solid rgb(72, 117, 5);

}

a.botao2 {
    text-decoration: none;
    padding: 10px;
    border: 5px double blue;
    color: blue;
}

a.botao2:hover {
    text-decoration: underline;
    padding: 8px;
    border: none;
    background: blue;
    color: white;

}

a.botao3 {
    text-decoration: none;
    color: black;
}

a.botao3:hover {
    
    border-bottom:5px rgb(255, 0, 0) solid;
}

a.botao4 {
    text-decoration: none;
    color:blue;
    font-size:18px;
}

a.botao4:hover{
    font-size:22px;
    font-weight:bold;
}

a.botao5 {
    cursor:help;
    }